<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="python_packages/bin/gunicorn" 
                  arguments="--bind=0.0.0.0 --timeout 600 app:app" 
                  requestTimeout="00:10:00" 
                  startupTimeLimit="300" 
                  startupRetryCount="5" 
                  stdoutLogEnabled="true">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="python_packages"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>