<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%HOME%\site\wwwroot\env\Scripts\python.exe"
                  arguments="%HOME%\site\wwwroot\app.py"
                  stdoutLogEnabled="true"
                  stdoutLogFile="\\?\%home%\LogFiles\python.log">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="%HOME%\site\wwwroot"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>