<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%HOME%\site\wwwroot\python_packages\Scripts\python.exe" 
                  arguments="%HOME%\site\wwwroot\python_packages\Scripts\gunicorn --bind=0.0.0.0 --timeout 600 app:app" 
                  requestTimeout="00:04:00" 
                  startupTimeLimit="120" 
                  startupRetryCount="3" 
                  stdoutLogEnabled="true">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="%HOME%\site\wwwroot\python_packages"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>